[submodule "riscv-binutils"]
	path = riscv-binutils
	url = git@github.com:fpetrot/binutils-gdb.git
	branch = dev/128
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = git@github.com:fpetrot/riscv-gcc.git
	branch = dev/128
[submodule "glibc"]
	path = glibc
	url = git://sourceware.org/git/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv-collab/riscv-dejagnu.git
	branch = riscv-dejagnu-1.6
[submodule "newlib"]
	path = newlib
	url = git@github.com:fpetrot/newlib.git
	branch = dev/128
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = git@github.com:fpetrot/binutils-gdb.git
	branch = dev/128
[submodule "qemu"]
	path = qemu
	url = git@github.com:fpetrot/qemu-riscv128.git
	branch = elf128
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
	branch = master
[submodule "spike"]
	path = spike
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
	branch = master
[submodule "pk"]
	path = pk
	url = https://github.com/riscv-software-src/riscv-pk.git
	branch = master
